@keyframes point {
    50% {
        transform: translateX(600%);
    }
}
 @keyframes points {
    50% { 
        transform: translateX(-46%);
    }
 }
 @keyframes controler {
    100%{
        z-index: -1;
        opacity: 0;
        display: none;
        // transition: opacity 12s ease-out;
    }
 }

 @keyframes move-up{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(-10px);
    }
 }

