@mixin box-shadow($colour: $colour-shadow, $size: $shadow-size) {
    box-shadow: $colour $size;
}
@mixin button {
    color: #ffffff;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: scale 1s;
    transform: scale(1);
    @include box-shadow;
    background-image: $colour-dual-start;
}

@mixin tabletContainer {
    @media screen and (min-width: map-get($breakpoints, medium)){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@mixin bulletLargeBreakpoint {
    @media screen and (max-width: map-get($breakpoints, large)) {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}

@mixin bulletSmallBreakpoint {
    @media screen and (max-width: map-get($breakpoints, small)) {
        font-size: .9rem;
        line-height: .8rem;
    }
}

@mixin  tabletCards {
    @media screen and (max-width: map-get($breakpoints, medium)) {
        width: 45%;
        margin: 1rem;
        flex-direction: row;
    }
}