@mixin box-shadow($colour: $colour-shadow, $size: $shadow-size) {
    box-shadow: $colour $size;
}
@mixin button {
    position: relative;
    color: #ffffff;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: scale 1s;
    transform: scale(1) ;
    @include box-shadow;
    background-image: $colour-dual-start;
}

@mixin tabletContainer {
    @media screen and (min-width: map-get($breakpoints, medium)){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@mixin fonctionnementLargeBreakpoint {
    @media screen and (max-width: map-get($breakpoints, large)) {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}

@mixin fonctionnementSmallBreakpoint {
    @media screen and (max-width: map-get($breakpoints, small)) {
        font-size: .9rem;
        line-height: .8rem;
    }
}

@mixin  tabletCards {
    @media screen and (max-width: map-get($breakpoints, medium)) {
        width: 100%;
        margin: 1rem 0rem 1rem 0rem;
        flex-direction: row;
    }
}
@mixin mobile{
    @media screen and (max-width: map-get($breakpoints, small )){
        display: flex;
        flex-direction: column;
    }
}
@mixin mobile--Loader{
    @media screen and (max-width: map-get($breakpoints, small )){
        left: 42.5%;
    }
}

@mixin desktop--Loader{
    @media screen and (max-width: map-get($breakpoints, desktop)) {
        left: 46%;
    }
}

@mixin submenuLargeBreackPoint {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        align-items: center;
        justify-content: space-around;
        display: flex;
    }
}

@mixin submenuCardLargeBreakPoint {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        max-width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
