@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:ital,wght@0,800;1,100&family=Roboto:ital,wght@1,900&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

.header__logo {
  display: flex;
  padding: 1rem 0 1rem 0;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: shrikhand, sans-serif;
  box-shadow: 1px 5px rgba(242, 235, 235, 0.5);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: cover;
  background-position: center;
  background-color: rgba(241, 241, 241, 0.8);
  filter: contrast(20);
  animation: controler 2.8s linear 5s forwards;
  z-index: 1;
}
.loader .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 44%;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  animation: point 2.8s 5;
}
@media screen and (max-width: 576px) {
  .loader .dot {
    top: 45%;
    left: 35%;
  }
}
.loader .dots {
  position: absolute;
  top: 50%;
  left: 47%;
  animation: points 2.8s 5;
}
@media screen and (max-width: 576px) {
  .loader .dots {
    top: 45%;
    left: 35%;
  }
}
.loader .dots span {
  display: flex;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}

.fondu-out {
  opacity: 0;
  transition: opacity 10s ease-out;
}

@keyframes point {
  50% {
    transform: translateX(600%);
  }
}
@keyframes points {
  50% {
    transform: translateX(-46%);
  }
}
@keyframes controler {
  100% {
    z-index: -1;
    opacity: 0;
    display: none;
  }
}
@keyframes move-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}
.location {
  background-color: #99E2D0;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.location input {
  padding: 1rem 0 1rem 0;
  height: 50px;
  font-size: 25px;
  width: 12rem;
  background-color: transparent;
  border: none;
}
.location input::placeholder {
  color: rgba(38, 38, 38, 0.95);
}
.location .fa-map-marker {
  margin-top: 0.1rem;
  padding-right: 1rem;
  font-size: 1.3em;
}

/*-------------------MESSAGE-----------------------*/
.message {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: rgb(241, 241, 241);
}
.message .message__title {
  font-size: 2.4rem;
  font-family: Raleway;
}
.message .message__intro {
  margin: 1rem;
  font-size: 1.4rem;
  margin-bottom: 2.5em;
  font-family: Raleway;
  color: rgba(70, 67, 67, 0.4392156863);
}

/*-----------------------FONCTIONNEMENT---------------------------*/
.fonctionnement__container {
  align-self: center;
  padding: 0 1rem 1rem 1rem;
}

.fonctionnement__title {
  padding: 2rem 0rem 0rem 1.5rem;
}

/*-------------------------RESTAURANT----------------------------*/
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(241, 241, 241);
}

.section__title {
  padding: 2rem 0rem 1rem 1.5rem;
}

.container {
  align-self: center;
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.massage__btn {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #ffffff;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: scale 1s;
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.3) 0.3rem 0.3rem 5px;
  background-image: linear-gradient(300deg, #9356DC, #FF79DA);
}
.massage__btn:hover {
  transition: 2s ease;
  color: black;
  transform: scale(1.5);
}

/*--------------------FONCTIONNEMENT---------------*/
ol {
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 921px) {
  ol {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}
@media screen and (max-width: 576px) {
  ol {
    display: flex;
    flex-direction: column;
  }
}
ol .fonctionnement__container__step {
  background-color: rgb(241, 241, 241);
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
ol .fonctionnement__container__step:hover {
  background-color: ligthen(#9356DC, 35%);
  transform: translate(1rem, -1rem);
  transition: 500ms ease-in-out;
}
ol .fonctionnement__container__step:hover i {
  color: #9356DC;
}
ol .fonctionnement__container__step:nth-child(1) i {
  font-size: 25px;
}

.fonctionnement__container__steps li {
  counter-increment: li;
  list-style: none;
}
@media screen and (max-width: 576px) {
  .fonctionnement__container__steps li {
    font-size: 0.9rem;
    line-height: 0.8rem;
  }
}
.fonctionnement__container__steps li:before {
  display: inline-block;
  content: counter(li);
  line-height: 1rem;
  padding: 0.6rem 1.2rem 1.4rem 0.6rem;
  width: 1rem;
  height: 1rem;
  align-items: center;
  border-radius: 100%;
  background: #9356DC;
  color: #fff;
  margin-left: -2rem;
  text-align: center;
}

.fonctionnement__container__steps .fa {
  padding: 1rem;
}

/*--------------------RESTAURANTS-----------------------*/
.restaurants__card {
  width: 100%;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
@media screen and (max-width: 768px) {
  .restaurants__card {
    width: 100%;
    margin: 1rem 0rem 1rem 0rem;
    flex-direction: row;
  }
}
.restaurants__card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0.3rem 0.3rem 5px;
}
.restaurants__card a {
  text-decoration: none;
  color: #000;
}

.card__img {
  width: 100%;
  height: 15rem;
}
.card__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.card__new {
  position: absolute;
  margin-top: 1rem;
  margin-left: -6rem;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem 1rem 1rem;
}

.card__content h2 {
  margin-bottom: 0.5rem;
}

.card__title {
  margin: 0;
}

.card__btn {
  margin-top: 1rem;
  position: relative;
  cursor: pointer;
}
.card__btn .card__like {
  position: absolute;
}
.card__btn:hover .heart--outline {
  display: none;
  opacity: 0;
}
.card__btn:hover .heart--bg {
  display: block;
  transition: opacity 1s;
  opacity: 1;
}
.card__btn .heart--outline {
  opacity: 1;
}
.card__btn .heart--outline:active {
  display: none;
  color: transparent;
}
.card__btn .heart--bg {
  opacity: 0;
  background-image: linear-gradient(300deg, #9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__btn .heart--bg:active {
  display: block;
  opacity: 1;
}

/*-----------------------------RESTAURANTS------------------------*/
.menu__card {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #fff;
  border-radius: 1rem;
  margin: 1rem 0 0 0;
  padding: 0 0 0 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0.3rem 0.3rem 5px;
}
.menu__card .menu__card--header {
  padding: 0 0 1rem 0;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__card .menu__card--header p {
  margin: 0.5rem 0 0 0;
}
.menu__card .menu__card--header .card__title {
  font-family: shrikhand;
}
.menu__card .menu__card--header .card__subtitle {
  color: #99E2D0 #9356DC;
}
.menu__card .card--checked {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  font-size: 1.6rem;
  transition: width 0.5s;
  border-radius: 0 1rem 1rem 0;
  color: #fff;
}
.menu__card:hover .card--checked {
  width: 5rem;
  display: flex;
  background-color: rgb(196, 155, 155);
}
.menu__card .fa {
  opacity: 0;
  transition-delay: 0.5s;
  transition: transform 0.5s ease-in-out;
}
.menu__card:hover .fa {
  opacity: 1;
  transform: rotate(1turn);
}
.menu__card .card--price {
  margin: 2rem 1rem 1rem 1rem;
}

.footer__logo {
  font-family: shrikhand, sans-serif;
}

.footer__all__page {
  background-color: #303030;
  text-decoration: none;
  color: #fff;
  min-height: 100%;
}
.footer__all__page a {
  color: #fff;
  text-decoration: none;
}
.footer__all__page ul {
  list-style: none;
  padding-left: 0;
}
.footer__all__page li {
  margin: 0.5rem 0 0.5rem 0;
}

.fa-cutlery {
  margin-right: 1rem;
}

.fa-handshake-o {
  margin-right: 0.55rem;
  transform: rotate(-40deg) scale(1.2);
}

.container__footer {
  padding: 1.5rem;
}

.return--arrow {
  color: black;
  position: absolute;
  top: 30px;
  left: 10px;
}

.header__img {
  width: 100%;
}
.header__img img {
  object-fit: cover;
  width: 100%;
}

.menu__app {
  position: relative;
  border-radius: 35px 35px 0px 0px;
  margin-top: -2rem;
  background-color: rgb(241, 241, 241);
  padding: 1rem 1rem 3rem 1rem;
}
@media screen and (min-width: 1023px) {
  .menu__app {
    padding-right: 0;
  }
}

.container__app {
  display: flex;
  flex-direction: column;
}

.container__header {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container__app {
  padding: 1rem;
}
.container__app .menu__title {
  font-family: shrikhand;
  font-size: 1.6rem;
}

.container__header {
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
  padding-bottom: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container__header .menu__btn {
  margin-top: 0.2rem;
}

@media screen and (min-width: 1023px) {
  .menu {
    align-items: center;
    justify-content: space-around;
    display: flex;
  }
}

@media screen and (min-width: 1023px) {
  .menu__begin {
    width: 33%;
    margin: 0;
  }
}

.menu__subtitle {
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
}
.menu__subtitle:after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  left: 0rem;
  top: 1.5rem;
  position: absolute;
  background-color: #99E2D0;
}

.menu__card {
  animation-name: move-up;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 1023px) {
  .menu__card {
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

/*----------------------DELAY D'APPARITION DES DIFFERANTS CARDS (MENUS) ------------------------------*/
.delay--1 {
  opacity: 0;
  animation-delay: 2.1s;
}

.delay--2 {
  opacity: 0;
  animation-delay: 1.9s;
}

.delay--3 {
  opacity: 0;
  animation-delay: 1.7s;
}

.delay--4 {
  opacity: 0;
  animation-delay: 1.5s;
}

.delay--5 {
  opacity: 0;
  animation-delay: 1.3s;
}

.delay--6 {
  opacity: 0;
  animation-delay: 1.1s;
}

.delay--7 {
  opacity: 0;
  animation-delay: 0.9s;
}

.delay--8 {
  opacity: 0;
  animation-delay: 0.7s;
}

.delay--9 {
  opacity: 0;
  animation-delay: 0.5s;
}

/*# sourceMappingURL=style.css.map */
