.header__logo{
    display: flex;
    padding: 1rem 0 1rem 0;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-bottom: solid rgba( #f2ebeb, .5);
    font-family: shrikhand, sans-serif;
}