.header__logo{
    display: flex;
    padding: 1rem 0 1rem 0;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: shrikhand, sans-serif;
    box-shadow: 1px 5px rgba( #f2ebeb, .5);
}