@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:ital,wght@0,800;1,100&family=Roboto:ital,wght@1,900&display=swap');
.location{
    background-color: $colour-tertiary;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    input{
        padding: 1rem 0 1rem 0;
        height: 50px;
        font-size: 25px;
        width: 12rem;
        background-color: transparent;
        border: none;
    }
    input::placeholder{
        color: rgba(38, 38, 38, 0.95);
    }

    .fa-map-marker{
        margin-top: .1rem;
        padding-right: 1rem;
        font-size: 1.3em;
    }
}   

/*-------------------MESSAGE-----------------------*/
.message {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: $colour-backgroud;

    .message__title{
        font-size: 2.4rem;
        font-family: Raleway;
    }

    .message__intro{
        margin: 1rem;
        font-size: 1.4rem;
        margin-bottom: 2.5em;
        font-family: Raleway;
        color: #46434370;
    }

}

/*-----------------------FONCTIONNEMENT---------------------------*/
.fonctionnement__container{
    align-self: center;
    padding: 0 1rem 1rem 1rem;
}

.fonctionnement__title{
    padding: 2rem 0rem 0rem 1.5rem;
}

/*-------------------------RESTAURANT----------------------------*/
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $colour-backgroud;
}

.section__title{
    padding: 2rem 0rem 1rem 1.5rem;
}

.container {
    align-self: center;
    padding: 0 1rem 1rem 1rem;
    @include tabletContainer;
}