.return--arrow{
    color: black;
    position: absolute;
    top: 30px;
    left: 10px;
}

.header__img{
    width: 100%;
    
    img {
        object-fit: cover;
        width: 100%;
    }
}

.menu__app{
    position: relative;
    border-radius: 35px 35px 0px 0px;
    margin-top: -2rem;
    background-color: $colour-backgroud;
    padding: 1rem 1rem 3rem 1rem;

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        padding-right: 0;
    }

}

.container__app {
    display: flex;
    flex-direction: column;
}

.container__header{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container__app{
    padding: 1rem;

    .menu__title{
        font-family: shrikhand;
        font-size: 1.6rem;
    }
}
.container__header {
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
    padding-bottom: .5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .menu__btn{
        margin-top: 0.2rem;
    }

}

.submenu {
    @include submenuLargeBreackPoint;
}

.submenu__begin{
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        width: 33%;
        margin: 0;
    }
}

.submenu__card{
    @include submenuCardLargeBreakPoint;

    animation-name: move-up;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

.delay--1 {
    opacity: 0;
    animation-delay: .1s;
}
