.return--arrow{
    color: black;
    position: absolute;
    top: 30px;
    left: 10px;
}

.header__img{
    width: 100%;
    
    
    img {
        object-fit: cover;
        width: 100%;

        @include mobileRestauranHeader-img;
        @include desktopRestauranHeader-img;
    }
}

.menu__app{
    position: relative;
    border-radius: 35px 35px 0px 0px;
    margin-top: -2rem;
    background-color: $colour-backgroud;
    padding: 1rem 0rem 0rem 0rem;

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        padding-right: 0;
    }

}

.container__app {
    display: flex;
    flex-direction: column;
}

.container__header{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container__app{
    padding: 1rem;

    .menu__title{
        font-family: shrikhand;
        font-size: 1.6rem;
    }
}
.container__header {
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
    padding-bottom: .5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .menu__btn{
        margin-top: 0.2rem;
    }

}

.menu {
    @include submenuLargeBreackPoint;
}

.menu__begin{
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        width: 33%;
        margin: 0;
    }
}

.menu__subtitle{
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;

    &:after {
        content: "";
        width: 3rem;
        height: .2rem;
        left: 0rem;
        top: 1.5rem;
        position: absolute;
        background-color: $colour-tertiary;
    }
}


.menu__card{
    @include submenuCardLargeBreakPoint;

    animation-name: move-up;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

/*----------------------DELAY D'APPARITION DES DIFFERANTS CARDS (MENUS) ------------------------------*/
.delay--1 {
    opacity: 0;
    animation-delay: 2.1s;
}
.delay--2 {
    opacity: 0;
    animation-delay: 1.9s;
}
.delay--3 {
    opacity: 0;
    animation-delay: 1.7s;
}
.delay--4 {
    opacity: 0;
    animation-delay: 1.5s;
}
.delay--5 {
    opacity: 0;
    animation-delay: 1.3s;
}
.delay--6 {
    opacity: 0;
    animation-delay: 1.1s;
}
.delay--7 {
    opacity: 0;
    animation-delay: .9s;
}
.delay--8 {
    opacity: 0;
    animation-delay: .7s;
}
.delay--9 {
    opacity: 0;
    animation-delay: .5s;
}
